<div class="container-fluid">
          <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-8">
              <canvas id="chess" width="500" height="500" ng-click="$ctrl.getPosition()"></canvas>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
              <table id="coordFrom">
                <tr>
                  <td>From</td>
                </tr>
              </table>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
              <table id="coordTo">
                <tr>
                  <td>To</td>
                </tr>
              </table>
            </div>
          </div>
        </div>