<form name="loginForm" class="login-form" ng-controller="formAction" ng-submit="submitLoginForm()" method="post">
	<!--HEADER-->
    <div class="header">
    <!--TITLE--><h1>Login Form</h1><!--END TITLE-->
    </div>
    <!--END HEADER-->
	
	<!--CONTENT-->
    <div class="content">
	<!--USERNAME--><input ng-model="fields.username" name="username" type="text" class="input username" placeholder="Username" required /><!--END USERNAME-->
    <!--PASSWORD--><input ng-model="fields.password" name="password" type="password" class="input password" placeholder="Password" required /><!--END PASSWORD-->
    </div>
    <!--END CONTENT-->
    
    <!--FOOTER-->
    <div class="footer">
    <!--LOGIN BUTTON--><input type="submit" name="submit" value="Login" class="button" /><!--END LOGIN BUTTON-->
    <!--REGISTER BUTTON--><input type="button" ng-click="register()" name="register" value="Register" class="register" /><!--END REGISTER BUTTON-->
    <p ng-model='message'> {{ message  }} </p>
    </div>
    <!--END FOOTER-->
</form>