 <div class="col-lg-7 col-md-7 col-sm-7">
            <center><label for="SettingsCategories">Choose a settings category below:</label></center>
            <div class="list-group" id="SettingsCategories">
                <button type="button" class="list-group-item" id="photobutton">Add photo</button>
                <div id="photo">
	                <div class="form-group">
	                	<img src="http://i.imgur.com/OhHtgeJ.png" class="img-responsive" width="200px">
	                    <input name="Icon" type="file" id="InputFile">
	                    <p class="help-block">Upload your picture</p>
	                    <button type="button" class="btn btn-default">Upload</button>
	                </div>
                </div>
                <button type="button" class="list-group-item" id="passbutton">Change password</button>
                    <div class="form-group">
                        <div id="pass">
                            <input name="pass" type="password" class="InputPass" placeholder="Old password">
                            <input name="pass" type="password" class="InputPass" placeholder="New password">
                            <input name="pass" type="password" class="InputPass" placeholder="Repeat password">
                            <button type="button" class="btn btn-default">Submit</button>
                        </div>
                    </div>
                <select class="list-group-item" id="styleClick" style="width:100%;" onchange="">
                    <option value="">Theme</option>
                    <option value="cerulean">Cerulean</option>
                    <option value="cosmo">Cosmo</option>
                    <option value="cyborg">Cyborg</option>
                    <option value="darkly">Darkly</option>
                    <option value="flatly">Flatly</option>
                    <option value="journal">Journal</option>
                    <option value="lumen">Lumen</option>
                    <option value="paper">Paper</option>
                    <option value="readable">Readable</option>
                    <option value="sandstone">Sandstone</option>
                    <option value="simplex">Simplex</option>
                    <option value="slate">Slate</option>
                    <option value="spacelab">Spacelab</option>
                    <option value="superhero">Superhero</option>
                    <option value="united">United</option>
                    <option value="yeti">Yeti</option>
                </select>
                <select class="list-group-item" id="localeClick" style="width:100%;" onchange="">
                    <option value="">Language</option>
                    <option value="en-US">English</option>
                    <option value="ru-RU">Russian</option>
                    <option value="ua-UA">Ukrainian</option>
                </select>
            </div>
        </div>