.chess button{
  width: 70px;
  height: 70px;
}
.chess{
  border: 2px solid black;
  width: 564px;
  padding: 0px 15px;
}
#borderdiv{
  border:1px solid red;
  width: 630px;
    height: 630px;
    padding: 30px;
}
.col-sm-8, .col-md-8, .col-lg-8 {
  float: right;
}

#coordFrom, #coordTo {
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
tr:hover{background-color:#f5f5f5}
.board{
    font-size: 25pt;
}