  <div class="col-lg-1 col-md-1 col-sm-1"></div>
		  <div class="col-lg-7 col-md-7 col-sm-7">
		  	<div class="panel panel-default scoresPanel">
 				<div class="panel-heading">Scores</div>
  				<div class="panel-body">
    				<table class="table table-hover">
						<th>
							<td>Name</td>
							<td>Rating</td>
							<td>Win</td>
							<td>Loss</td>
							<td>Last game</td>
							<td>Action</td>
						</th>
						<tr>
							<td>1</td>
							<td>Liza</td>
							<td>3400</td>
							<td>13</td>
							<td>2</td>
							<td>2 hours ago</td>
							<td>Available</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Nastia</td>
							<td>2400</td>
							<td>9</td>
							<td>4</td>
							<td>13 hours ago</td>
							<td>Not available</td>
						</tr>
						<tr> 
							<td>3</td>
							<td>Volodymyr</td>
							<td>3570</td>
							<td>15</td>
							<td>1</td>
							<td>1 hours ago</td>
							<td>Available</td>
						</tr>
						</table>
	 				</div>
				</div>
		  	</div>
		  	<div class="col-lg-3 col-md-3 col-sm-3">
		  		<div class="panel panel-default right-panel">
 					<div class="panel-heading">User rating</div>
  					<div class="panel-body">
  					<div class="row">
  						<p>Rating</p>
  						<div class="progress">
  							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" 
  							aria-valuemax="100" style="width: 60%;">60%</div>
						</div>
  					</div>
  					<div class="row">
  						<p>Messages</p>
  						<ul class="list-group">
  							<li class="list-group-item"><span class="badge">14</span>Messages</li>
						</ul>
  					</div>
  					<div class="row">
  						 <ul class="list-group">
  							<li class="list-group-item"><span class="badge">2</span>Active games</li>
						</ul>
  					</div>
  					</div>
  				</div>
		  	</div>