<div class="container">
  <div class="row text-center">
    <h1>Players room</h1>
    <h4 ng-hide="$ctrl.isOnline()" class="text-danger">Can't connect to game socket! Server is not running or your internet connection is bad :(</h4>
    <h4 ng-show="$ctrl.isOnline()" class="text-success">Connected :)</h4>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <table class="table">
        <caption class="text-center">Players online</caption>
        <tr ng-repeat="user in $ctrl.usersOnline">
          <td><span>{{user.name}}</span></td>
          <td><button ng-click='$ctrl.sendInvitation(user.id)'>Invite</button></td>
        </tr>
      </table>
    </div>
    <div class="col-xs-6">
      <table class="table">
        <caption class="text-center">Incoming invites</caption>
        <tr ng-repeat="invite in $ctrl.incommingInvites">
          <td><span>{{invite.userName}}</span></td>
          <td><button ng-click='$ctrl.acceptInvitation(invite.userID)'>Accept</button></td>
        </tr>
      </table>
    </div>
  </div>

</div>
