<div class="container">
  <div class="row text-center">
    <h1>Players room</h1>
    <h4>{{$ctrl.status}}</h3>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <table class="table">
        <caption class="text-center">Players online</caption>
        <tr ng-repeat="user in $ctrl.usersOnline">
          <td><span>{{user.name}}</span></td>
          <td><button ng-click='$ctrl.sendInvite(user.id)'>Invite</button></td>
        </tr>
      </table>
    </div>
    <div class="col-xs-6">
      <table class="table">
        <caption class="text-center">Incoming invites</caption>
        <tr ng-repeat="invite in $ctrl.incommingInvites">
          <td><span>{{invite.userName}}</span></td>
          <td><button ng-click='$ctrl.accept(invite.userID)'>Accept</button></td>
        </tr>
      </table>
    </div>
  </div>

</div>
