<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button"
        class="navbar-toggle collapsed"
        ng-click="$ctrl.toggle()">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" ng-class="{ in: $ctrl.toggled }">
      <ul class="nav navbar-nav">
          <li><a href="#/">Home</a></li>
          <li><a href="#/players-room">Players Room</a></li>
          <li><a href="#/game">Play</a></li>
          <li><a href="#/scores">Scores</a></li>
          <li><a href="#/help">Help</a></li>
          <li><a href="#/settings">Settings</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/login">Login</a></li>
        <li><a href="#">{{ $ctrl.username }}</a></li>
        <li><a href="" ng-click="$ctrl.logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
